
{% extends "base.html" %}
{% block content %}
    <h1>Session 1: Size and Shape</h1>
    <div class="container">
        <p>Overview goes here...</p>
        <h2>Objectives</h2>
        <h2>Recommended Resources</h2>
        <ul>
            <li><a hre="http://internet-map.net">The Internet map</a></li>
            <li><a href="https://www.opte.org">The Opte Project</a></li>
            <li><a href="https://www.halcyonmaps.com/#/map-of-the-internet-2021/">Map of the Internet 2021</a></li>
            <li>
                <a href="https://datareportal.com/reports/digital-2023-global-overview-report">
                    Digital 2023: Global Overview Report
                </a>
            </li>
            <li>
                <a href="https://earthweb.com/how-much-data-is-created-every-day/">
                    How Much Data Is Generate Every Day in 2023?
                </a>
            </li>
            <li>
                <a href="https://techjury.net/blog/internet-statistics/">
                    Internet Statistics in 2023 - How Big is the Web Today?
                </a>
            </li>
            <li><a href="https://www.broadbandsearch.net/blog/internet-statistics"">Key Internet Statistics in 2023</a></li>
        </ul>
        <h2>Discussion Prompts</h2>
    </div>
{% endblock content %}